/* Font face declarations for Apercu Pro */
@font-face {
  font-family: "Apercu Pro";
  src: url("/fonts/apercu-bold-pro.woff2") format("woff2"),
    url("/fonts/apercu-bold-pro.woff") format("woff"),
    url("/fonts/apercu-bold-pro.ttf") format("truetype"),
    url("/fonts/apercu-bold-pro.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Font face declarations for Apercu Mono Pro */
@font-face {
  font-family: "Apercu Mono Pro";
  src: url("/fonts/apercu-mono-regular-pro.woff2") format("woff2"),
    url("/fonts/apercu-mono-regular-pro.woff") format("woff"),
    url("/fonts/apercu-mono-regular-pro.ttf") format("truetype"),
    url("/fonts/apercu-mono-regular-pro.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Mono Pro";
  src: url("/fonts/apercu-mono-bold-pro.woff2") format("woff2"),
    url("/fonts/apercu-mono-bold-pro.woff") format("woff"),
    url("/fonts/apercu-mono-bold-pro.ttf") format("truetype"),
    url("/fonts/apercu-mono-bold-pro.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
